{% extends 'base.html' %}
{% block content %}

<h1>Update Country</h1>

    <form action="/countries/{{country.id}}" method="post">
    <div>

        <label for="country_name">Country's Name:</label>
            <input type="text" name="country_name" id="country_name" value = "{{country.country_name}}" size=25>
            <p></p>

        <label for="continent">Continent:</label>
            <select name="continent" id="continent">
                <option value="{{country.continent}}">{{country.continent}}</option>
                <option value="Africa"
                    {% if country.continent == "Africa" %} selected="selected" {% endif %}> Africa
                </option>
                <option value="Antartica"
                    {% if country.continent == "Antartica" %} selected="selected" {% endif %}> Antartica
                </option>
                <option value="Asia"
                    {% if country.continent == "Asia" %} selected="selected" {% endif %}> Asia
                </option>
                <option value="Europe"
                    {% if country.continent == "Europe" %} selected="selected" {% endif %}> Europe
                </option>
                <option value="Oceania"
                    {% if country.continent == "Oceania" %} selected="selected" {% endif %}> Oceania
                </option>
                <option value="North America"
                    {% if country.continent == "North America" %} selected="selected" {% endif %}> North America
                </option>
                <option value="South America"
                    {% if country.continent == "South America" %} selected="selected" {% endif %}> South America
                </option>

            </select>
        <p></p>
        <label for="img_url">Image Link</label>
            <input type="url" name="img_url" id="img_url" value = "{{country.img_url}}" size=30>
        <p></p>
        <label for="reason">Reason</label>
        <textarea name="reason" id="reason" rows=2 cols =25>{{country.reason}}</textarea>
        <p></p>
        <label for="reflection">Reflections</label>
        <textarea name="reflection" id="reflection" rows=2 cols =25 >{{country.reflection}} </textarea>
<p></p>
        <input class="btn btn--action" type='submit' value="Update Country">
    </div>
    </form>


    {% endblock %}