{% extends 'base.html' %}
{% block content %}
<div>
<h1> View Countries</h1>

    <table>
        <tr>
            <td>
                <tr>
                    Countries to see
                    
                </tr>
                    {% for country in countries %}
                <tr>
                    <td><a href="/countries/{{ country.id }}"> {{country.country_name}} </a> </td>
                    <td> {{ country.continent }} </td>
                </tr>
                <tr> 
                    <td>Reason:</td><td> {{country.reason }} </td>
                <tr>
                    <td>Reflections:</td>
                    <td>{{country.reflection }} </td>
                </tr>
            </td>
            <td>
                <img class="image" src="{{country.img_url}}" alt="this  should be a pic"> 

            </td>
            {% endfor %}
        </tr>
    </table>

</p>
</div>

{% endblock %}