{% extends 'base.html' %}
{% block content %}
<div>
<h1> View Countries</h1>

    <table>
        <tr>
            <td>
                <tr>
                    Countries to see
                    
                </tr>
                    {% for country in countries %}
                <tr>
                    <td><a href="/countries/{{ country.id }}"> {{country.country_name}}, {{ country.continent }} </a> 
                        <p></p> {{country.reason }}
                        <p></p> {{country.reflection }}
 
                    </td>
                    <td> 
                        <a href="/countries/{{ country.id }}"><img class="image" src="{{country.img_url}}" alt="this  should be a pic"> </a>
                    </td>
                </tr>
                <tr> 
                    <td> </td><td> </td>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
            </td>
            <td>


            </td>
            {% endfor %}
        </tr>
    </table>

</p>
</div>

{% endblock %}