{% extends "base.html" %}
{% block content %}




    <h1>{{country.country_name}}</h1>
    <hr>
    <div class="show-side">
        <div>
            <p>Continent: {{country.continent}}</p>
            <p>Reason: {{country.reason}} </p>
            <p>Reflections {{country.reflection}}</p>
        </div> 
        <div>
            <img class = "image" src=" {{country.img_url}}" alt="Pic here ">
        </div>
    </div>
    <div></div>
    <a href="/countries/{{country.id}}/edit" class="button edit"><button>Edit</button></a> <p></p><p></p>
    </div>

    <div>
    <p></p>
    </div>



{% endblock %}
