{% extends 'base.html' %}
{% block content %}


<h1>Update City <p></p></h1>

    <form action="/cities/{{city.id}}" method="post" >

        <label for="city_name">City's Name:</label>
            <input type="text" name="city_name" id="city_name" value="{{ city.city_name }}" size =25>
            <p></p>


        <label for="country_id">Country:</label>
            <select name="country_id" id="country">
                {% for country in list_of_countries %}
                    <option value="{{country.id}}"
                        {% if country.id == city.country.id %} selected="selected" {% endif %}>
                    {{country.country_name}}</option>
                {% endfor %}
            </select>
 
            <p></p>
        <label for="visited">Visited:</label>
            <select name="visited" id="visited" value="{{ city.visited }}">
                <option value=False
                {% if city.visited == False %} selected="selected" {% endif %}>Not yet</option>
                <option value=True
                {% if city.visited == True %} selected="selected" {% endif %}>Already</option>
            </select>            
        <p></p>
        <label for="img_url">Image Link</label>
            <input type="url" name="img_url" id="img_url" size =30 value = "{{city.img_url}}">
        <p></p>
        <label for="reason">Reason</label>
            <textarea name="reason" id="reason" rows="2" cols="25" placeholder="Why Do You Want To Go?" >{{city.reason}}</textarea>
        <p></p>
        <label for="reflection">Reflections</label>
            <textarea type="text" name="reflection" id="reflection" rows="2" cols="25">{{city.reflection}}</textarea>
<p></p>
        <input class="btn btn--action" type='submit' value="Update City">
    </form>


    {% endblock %}