{% extends 'base.html' %}
{% block content %}
<div>
<h1> View Cities</h1>

    <table>
        <tr>
            <td>
                <tr>
                    Cities to see
                    
                </tr>
                    {% for city in cities %}
                <tr>
                    <td><a href="/cities/{{ city.id }}"> {{city.city_name}}, {{ city.country.continent }}</a> 
                    <p></p> {{city.reflection }}
                    <p></p> {{city.reason }}
                </td>
                    <td> 
                        <img class ="image" src="{{city.img_url}}" alt="this  should be a pic">    
                    </td>
                </tr>
                <tr> 
                    <td>  {% if city.visited == True %} Yes{% endif %}</td>
                    <td>  

                    </td>


                </tr>
            </td>
            <td>

            </td>
            
                {% endfor %}
        </tr>
    </table>

</p>
</div>
{% endblock %}