{% extends 'base.html' %}
{% block content %}

<h2><strong> {{city.city_name}}</strong>, {{city/country. country_name}} {{city.country.continent}}</h2>
    <section class = "show_side">
        <div class ="container">

    <h1>{{city.city_name}}</h1>
    <hr>
    <p>Country: {{ city.country.country_name}}</p>
    <p>I want to: {{city.reason}} </p>
    <p>Reflections {{city.reflection}}</p>
    <p>Visited:      {% if city.visited == True %} <img class ="image_tiny" src="https://i.ibb.co/qJjBvxh/check-box.png" alt="Visited"> {% endif %}
     {% if city.visited == False %} <img class ="image_tiny" src="https://i.ibb.co/CvJrsdr/blank-check-box.png" alt="Not visited"> {% endif %}
     <p></p></p>
      <section class = "show_side">
        <div class ="container">
        <a href="/cities/{{city.id}}/edit"><button>Edit</button></a>
        </div>
        <div class ="container">
        <form action="/cities/{{city.id}}/delete" method="post">
          <input type="submit" value="delete">
        </form>
        </div>
        </section>
      </div>
  

    <p>
    <div class = "container"> <img class = "image" src=" {{city.img_url}}" alt="Pic here "></p>
    <p></p>
    </div>



{% endblock %}

