<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dare to Dream</title>
</head>
<body>
    <main>
    <div id = "visible-page">
        <div>
        <nav>
            <ul>
                
                    <img src="https://i.ibb.co/VVpYDWD/DiVidEnd.gif" class = "small-image" alt="logo"><p></p>
                     View
                    <ul>
                        <li>
                            <a href="/countries">Countries</a>  
                        </li>
                        <li>
                            <a href="/cities">Cities</a> 
                        </li>
                    </ul>
                    Add
                    <ul>
                        <li>
                            <a href="/countries/new">Country</a>
                        </li>
                        <li>
                            <a href="/cities/new">City</a> 
                        </li>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        </div>
        <section id="content"> 
            {% block content %} 
            
            {% endblock %}
        </section>
    </div>
    </main>
</body>
</html>

<!-- [url=https://imgbb.com/][img]https://i.ibb.co/71k98nQ/DiVidEnd.png[/img][/url]
[url=https://imgbb.com/][img]https://i.ibb.co/VVpYDWD/DiVidEnd.gif[/img][/url]
[url=https://imgbb.com/][img]https://i.ibb.co/swgPzGf/Di-Vid-End-2.png[/img][/url] -->