<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dare to Dream</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li>
                    View
                    <ul>
                        <li>
                            <a href="/countries">Countries</a>  
                        </li>
                        <li>
                            <a href="/cities">Cities</a> 
                        </li>
                    </ul>
                    Add
                    <ul>
                        <li>
                            <a href="/countries/new">Country</a>
                        </li>
                        <li>
                            City
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section id="content"> 
            {% block content %} 
            
            {% endblock %}
        </section>
    </main>
</body>
</html>